@{
    ViewData["Title"] = "Home Page";
}

<div class="img-tecas">
    <img src="~/img/TeCAS.png" />
</div>
<div class="text-center">
    <h1 class="display-4">Administración de cuentas de ahorro</h1>
    <p>Prueba práctica de Rogelio Ramírez Silva</p>
</div>
